body {
    background-color: #ffffff;
    background-image: url(img0c5.jpg);
    background-position: center center;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-A {
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 20px;
    width: 380px;
    padding: 20px;
    background-color: #4b57b3;
    border-radius: 30px;
}

.uno {
    text-align: center;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
}

.dos {
    text-align: center;
    margin-bottom: 30px;
    color: rgb(112, 255, 2);
}

.card-actions {
    text-align: center;
}